.expenses-page {
  padding: 20px;
}

.expenses-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

.expenses-table th,
.expenses-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.expenses-table th {
  background: #f4f6f8;
}

.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.action-cell {
  display: flex;
  gap: 8px;
  justify-content: center;
}


.action-btn {
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  border: none;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: auto;
  min-width: 70px;
}

.edit-btn {
  background-color: #4f46e5;
  padding: 10px 14px;
  color: white;
}

.delete-btn {
  background-color: #e11d48;
  color: white;
}

/* Hover effects */
.edit-btn:hover {
  background-color: #4338ca;
}

.delete-btn:hover {
  background-color: #be123c;
}
