*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}
.login-container img {
    width: 150px;
    margin-bottom: 20px;
    position: relative;
}
.login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.login-form-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.login-form-input-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.login-form-input-container img{
    width: 20px;
    height: 35px;
}
.login-form-input-container input{
    flex: 1;
    padding: 10px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.login-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-form button:hover {
    background-color: #45a049;
}
.forgotpassword {
    text-align: right;
    font-size: 14px;
    color: #007BFF;
}
.forgotpassword:hover {
    text-decoration: underline;
    cursor: pointer;
}
.login-form-toggle {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}
.login-form-toggle span {
    color: #007BFF;
    cursor: pointer;
    font-weight: bold;
}
.login-form-toggle span:hover {
    text-decoration: underline;
}
